footer {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: white;
    line-height: 28px;
}

.container {
    width: 970px;
    margin-bottom: 20px;
}

body {
    background-image: url("../images/star-wars-logo-new-tall.jpg");
    background-repeat: no-repeat;
    background-size: 1150px;
    background-color: black;
    background-position: center top;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    color: white;
}

h4 {
    color: white;
}

img {
    width: 190px;
    display: block;
    margin: 0 -12px;
}

.col-md-2 {
    margin: 15.5% auto 0;
    position: relative;
    padding: 0;
}

.choose-character {
    border: white solid 1px;
    background-color: black;
    color: white;
    padding: 60px 30px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-battle {
    border: white solid 1px;
    background-color: black;
    color: white;
    padding: 60px 40px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hp {
    color: white;
    background-color: black;
    border: white solid 1px;
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}

img:hover, .choose-battle:hover {
    cursor: pointer;
}

#attack, #restart {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}